/*Top Bar (login, search etc.)
------------------------------------*/
.top {
	padding:7px 0 8px;
}

.loginbar {
	margin:0;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
}

.loginbar li {
	display:inline;
	list-style:none;

}

.loginbar li a, 
.loginbar li a:hover {
	color: #FFF;
	font-size:11px;
	text-transform:uppercase;
	font-family:'Open Sans', sans-serif;
}

.loginbar li.devider { 
	top:-1px;
	padding:0;
	font-size:12px;
	position:relative;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}


